[user]
  name = Andrew Smith
  email = andrew@andrew.codes

[alias]
  gui = !sh -c '/usr/local/git/libexec/git-core/git-gui'
  co = checkout

[merge]
	tool = bc3

[diff]
	tool = bc3

[push]
  default = simple

[branch]
  autosetuprebase = always

[core]
  autocrlf = true
  editor = atom --wait

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f

[gui]
  gcwarning = false

[mergetool]
	bc3 = trustExitCode
  prompt = false
  keepBackup = false

[difftool]
  prompt = false
